<h1>A word for and by wordsters</h1>


<div class="box col-xs-10 col-xs-offset-1">
  <h2>Wordster, n.</h2>
  <h3>Definition:</h3>
  <p>a person who uses words, especially skilfully or (in early use, depreciatively) in place of action. Also: a student of words and their meanings.</p>
</div>
