@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.clear {
  clear:both;
}

.logo{
  font-family: 'Dancing Script', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: red;
}

body {
  background: url('/assets/perforated_white_leather.png');
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 35px;
}

.link {
  font-size: 25px;
  color: black;
}

header {
  border-top: 9px solid #222222;
}